<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>library</title>
</head>
<style>
    a{
        color:black;
    }
    h1{
        text-align: center;
    }
</style>

<body>
<h1>library books</h1>
<table class="table table-striped table-bordered table-hover text-center">
    <thead>
    <tr style="text-align:center">
        <th>book ID</th>
        <th>name</th>
        <th>author</th>
        <th>URL</th>
        <th>operation</th>
    </tr>
    </thead>

    <tr th:each="book:${books}">
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.bookPDF}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{'/user/update/'+${book.bookId}}">update</a>
            <a class="btn btn-danger" th:href="@{'/user/delete/'+${book.bookId}}">delete</a>
            <a class="btn btn-info" th:href="@{'/user/download/'+${book.bookId}}">downloadPDF</a>
        </td>
    </tr>
</table>
<button class="btn btn-block" ><a href="/user/add">add book</a></button>

</body>

</html>
