<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration false</title>
    <style>
        body{
				background-image: url(/images/library3.jpg);
				margin-top:300px;
				margin-left: 500px;
				background-size:cover;
                background-attachment:fixed
			}
		#i1{
				border: none;
				width: 120px;
				height: 30px;
				border-radius: 15px;
				background-color: CornflowerBlue;
				color: white;
				margin-left: 350px;
		}
		h1{
		      color:white;
		}
    </style>

</head>
<body>
<h1>please input the same password in confirm password</h1>
<form action = "/user/registerPage" method = "post">
    <input type = "submit" value = "retry" id = "i1">
</form>
</body>
</html>